* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/* //////////////////////////////////// */
/* Utility classes */
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
/* //////////////////////////////////// */
a:link,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0.6rem 1rem;
  display: inline-block;
  border: 1px solid #fff;
  width: 10rem;
  transition: all 0.2s;
}
a:active {
  transform: translateY(2px);
}
a:hover {
  color: #333;
  border: 1px solid #333;
  box-shadow: 1.5px 5px 5px rgba(51, 51, 51, 0.2);
}
/* //////////////////////////////////// */
.title {
  position: absolute;
  top: 5%;
  left: 40%;
}
/* Left & right cloud */
.left {
  position: absolute;
  top: 5%;
  left: 20%;
  /* animation: moveLeftRight 60s linear alternate-reverse infinite; */
}
.right {
  position: absolute;
  top: 8%;
  left: 65%;
  /* animation: moveRightLeft 60s linear alternate-reverse infinite; */
}
svg {
  width: 12vw;
  height: 12vw;
}
/* Upper part of the screen ('yellow') */
.game-container {
  width: 100%;
  height: 60%;
  background: rgb(179, 143, 44);
  background: linear-gradient(
    0deg,
    rgba(179, 143, 44, 1) 0%,
    rgba(227, 231, 42, 1) 100%
  );
  position: relative;
  cursor: url(img/crosshairs/red-dot-crosshair-smallest-32x32.png) 16 16, auto;
}
/* Instant score styling */
.large-score-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.large-score {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  transition: all 0.2s;
  text-transform: uppercase;
}
/* Single target container  */
.target-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/other/x-mark.png) no-repeat center center/cover;
  border-radius: 50%;
}
/* Targets positions */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-left {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.center-right {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.top-left {
  position: absolute;
  top: 25%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.bottom-left {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.top-right {
  position: absolute;
  top: 25%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.bottom-right {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%);
}
/* Bullet images(remaining lives in game) */
.ammo {
  height: 5rem;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bullet-img {
  height: 100%;
}
/* //////////////////////////////////////////// */
/* Bottom part of the screen ('blue') */
.lower-part {
  border-top: 1px solid #fff;
  height: 40%;
  background: skyblue;
  text-align: center;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: top;
  justify-content: space-evenly;
}
.points {
  width: 25vw;
  height: 10vh;
  border: 1px solid #fff;
  margin-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.points-current {
  margin-right: 1rem;
}
/* Buttons */
.buttons {
  display: flex;
  flex-direction: column;
}
.buttons > :not(:last-child) {
  margin-bottom: 1rem;
}
/* ////////////////////// */
.stats-info {
  border: 1px solid #fff;
  width: 25vw;
  height: 10vh;
  margin-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span-stats {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: #333;
  font-weight: bold;
  font-size: 1.8rem;
}
/* //////////////////////////////////////////// */
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(300px);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveRightLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-300px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
/* ///////////////////////////////////////////////////// */
/* Modal styling */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  transition: all 0.3s;
}
.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.95);
  display: grid;
  place-items: center;
}
.modal-box {
  position: relative;
  border: 1px solid #fff;
  width: 50%;
  height: 60%;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  line-height: 1.5;
}

.modal-box > :not(:last-child) {
  margin-bottom: 1rem;
}

.close-modal {
  position: absolute;
  top: 4%;
  left: 90%;
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.2s;
}

.close-modal:hover {
  color: yellow;
}

.paragraph {
  font-size: 1.1rem;
  text-align: justify;
  text-indent: 2rem;
  /* text-justify: inter-word; */
}
h2 {
  /* margin-bottom: 0.5rem; */
  color: yellow;
}
/* ///////////////////////////////////////////////////// */
.youTube-link:link,
.youTube-link:visited {
  all: initial;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0.3rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  transition: all 0.2s;
  display: inline-block;
  text-underline-offset: 2px;
}
.youTube-link:hover {
  color: yellow;
}
kbd,
.x {
  color: yellow;
}
