* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
}
a:link,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0.6rem 1rem;
  display: inline-block;
  border: 1px solid #fff;
  width: 10rem;
  transition: all 0.2s;
}
a:active {
  transform: translateY(2px);
  /* box-shadow: 1.5px 5px 5px rgba(51, 51, 51, 0.01); */
}
a:hover {
  color: #333;
  border: 1px solid #333;
  box-shadow: 1.5px 5px 5px rgba(51, 51, 51, 0.2);
}
.title {
  position: absolute;
  top: 5%;
  left: 40%;
}

.left {
  position: absolute;
  top: 5%;
  left: 20%;
  /* animation: moveLeftRight 60s linear alternate-reverse infinite; */
}
.right {
  position: absolute;
  top: 8%;
  left: 65%;
  /* animation: moveRightLeft 60s linear alternate-reverse infinite; */
}
/* h1 {
  text-transform: uppercase;
  color: #f4f4f4;
} */
/* .cloud-1 {
  animation: moveLeftRight 20s linear infinite;
}
.cloud-2 {
  animation: moveRightLeft 20s linear infinite;
} */
svg {
  width: 12vw;
  height: 12vw;
}

.game-container {
  width: 100%;
  height: 60%;
  /* background-color: azure; */
  background: rgb(179, 143, 44);
  background: linear-gradient(
    0deg,
    rgba(179, 143, 44, 1) 0%,
    rgba(227, 231, 42, 1) 100%
  );
  position: relative;
  /* cursor: url(img/crosshairs/red-dot-crosshair-smallest.png), pointer; */
  cursor: url(img/crosshairs/red-dot-crosshair-smallest-32x32.png) 16 16, auto;
}
.target-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/other/x-mark.png) no-repeat center center/cover;
  /* border: 1px solid #999; */
  border-radius: 50%;

  /* animation: moveLeftRight 2s linear alternate-reverse forwards infinite; */
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-left {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.center-right {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.top-left {
  position: absolute;
  top: 25%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.bottom-left {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.top-right {
  position: absolute;
  top: 25%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.bottom-right {
  position: absolute;
  top: 75%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.ammo {
  height: 5rem;
  position: absolute;
  top: 80%;
  left: 50%;
}
.bullet-ammo {
  height: 6rem;
}
/* //////////////////////////////////////////// */
.lower-part {
  border-top: 1px solid #fff;
  height: 40%;
  background: skyblue;
  text-align: center;
  padding: 1rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons > :not(:last-child) {
  margin-bottom: 1rem;
}
/* //////////////////////////////////////////// */
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(300px);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRightLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-300px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
